*{
    margin: 0;
    padding: 0;
}

/* header and navigation styles */
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(178, 165, 165, 0.3);
    padding: 15px;
    border-bottom: 1px solid rgba(192, 184, 184, 0.301);
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: cyan;
    font-size: 20px;
    font-weight: 600;
}
.logo{
    width: 200px;
}
.items{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 19px;
    cursor: pointer;
}

/* BANNER SECTION STYLES */
.banner-section{
    width: 100%;
    height: 100vh;
    background-image: url('./asset/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.digital-banner{
    width: 100%;
    margin: 0 auto;
}
.title{
    font-size: 86px;
    font-weight: 900;
    width: 50%;
    margin: auto;
}
.title-digital{
    color: rgb(245, 44, 45);
}
.description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
}
.btn{
    padding: 15px 35px;
    font-size: 16px;
    border: 0;
    margin: 5px;
}
.btn-more{
    background-color: rgb(245, 44, 45);
    color: white;
}

/* service section styles */
.service-container{
    width: 100%;
    height: 100vh;
    background-image: url('./asset/image/footer-bg.png'), linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
.service-left{
    width: 50%;
}
.btn-service{
    color: gray;
    border-radius: 25px;
    background-color: white;
}
.title-service{
    font-size: 40px;
    font-weight: bold;
    padding: 7px;
    color: rgb(201, 197, 197);
}
.description-service{
    width: 75%;
    font-size: 20px;
    color: rgb(177, 170, 170);
    padding: 12px;

}
.service-list{
    list-style: decimal;
    font-size: 18px;
    color: rgb(177, 170, 170);
    padding: 22px;
}
.author-container{
    display: flex;
    justify-content: start;
    align-items: center;
}
.author-details{
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(245, 44, 45);
}
.author-details img{
    width: 30%;
    border-radius: 100px;
    padding: 7px;
}
.more-details{
    padding: 15px 35px;
    border-radius: 25px;
    border: 0;
    background-color: white;
    color: rgb(245, 44, 45);
    margin-left: 10px;
}
.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.service{
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: 4px 4px 6px rgb(50, 44, 44);
    border-radius: 5px;
    margin-right: 15px;
    padding: 50px;
    color: black;
    text-align: center;
}
.service-logo{
    width: 100px;
    padding: 20px;
}

/* APPOINTMENT SECTION STYLES */
.appointment-section{
    width: 75%;
    background-color: rgb(245, 44, 45);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    margin-top: -80px;
}
.call-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid gray;
    padding: 10px;
}
.appointment-logo{
    width: 100px;
    padding: 10px;
}
.appointment-descript{
    text-align: justify;
    padding: 10px;
}
.appointment-button button{
    padding: 15px 35px;
    border-radius: 25px;
    border: 0;
    margin-left: 10px;
    background-color: white;

}

/* blog section styles */
.blog-box{
    text-align: center;
    margin-top: 30px;
}
.blogs-title{
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}
.description-blog{
    font-size: 22px;
    width: 50%;
    margin: auto;
}
.blogs{
    display: flex;
    justify-content: space-evenly;
    margin: 35px;
    padding: 30px;
}
.blog{
    width: 350px;
    height: 450px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
}
.blog-img{
    width: 350px;
    border-radius: 10px;
    padding-bottom: 15px;
}
.blog-text{
    padding: 15px;
}
.blog-title{
    font-size: 24px;
    font-weight: bold;
    color: rgb(92, 88, 88);
}
.blog-description{
    font-size: 18px;
    color: rgb(93, 88, 88);
    margin-top: 15px;
}

/* footer section styles */
footer{
    width: 100%;
    height: 70vh;
    background-image: url('./asset/image/footer-bg.png'), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: white;
    line-height: 1.8em;
}
.footer-container{
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid gray;
}
.logo-box{
    width: 25%;
}
.logo-box img{
    width: 170px;
}
.footer-title{
    margin-bottom: 30px;
}
.fa-brands{
    font-size: 20px;
    margin: 10px;
}
.icons{
    margin-top: 20px;
}
.copy{
    text-align: center;
    padding: 15px;
}